
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Countries List</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var country in ViewBag.listCountries)
            {
                <li>@country</li>
            }
        </ul>
    </div>
</body>
</html>
